services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - app-network

  djroom:
    build:
      context: .
      dockerfile: services/djroom/Dockerfile
    ports:
      - "8082:8082"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  djactor:
    build:
      context: .
      dockerfile: services/djactor/Dockerfile
    ports:
      - "8081:8081"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network
  chatactor:
    build:
      context: .
      dockerfile: services/chatactor/Dockerfile
    ports:
      - "8083:8083"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    depends_on:
      - djroom
      - djactor
      - chatactor
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
